header {
  background-color: #5277b3;
  padding: 2px;
  margin-bottom: 10px;
}

span {
  padding-right: 40px !important;
}

a:hover {
  color: greenyellow !important;
}

.center {
  text-align: center;
}

.grid-container { 
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(66, auto);
}

.grid-item {
  border: 0.25px solid lightblue;
  width: 25px;
  height: 25px;
}

.empty {
  background-color: #ffff;
  
  /* Grid styling */
  border: 0.25px solid lightblue;
  width: 25px;
  height: 25px;
}

.blocker {
  background-color: #30295e;
  
  /* Grid styling */
  border: 0.25px solid lightblue;
  width: 25px;
  height: 25px;
}

.path {
  background-color: yellow;
  
  /* Grid styling */
  border: 0.25px solid lightblue;
  width: 25px;
  height: 25px;
}

.explored {
  background-color: aqua;
  
  /* Grid styling */
  border: 0.25px solid lightblue;
  width: 25px;
  height: 25px;
}

.start {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20384%20512%22%3E%3C!--!%20Font%20Awesome%20Pro%206.0.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%20(Commercial%20License)%20Copyright%202022%20Fonticons%2C%20Inc.%20--%3E%3Cpath%20d%3D%22M361%20215C375.3%20223.8%20384%20239.3%20384%20256C384%20272.7%20375.3%20288.2%20361%20296.1L73.03%20472.1C58.21%20482%2039.66%20482.4%2024.52%20473.9C9.377%20465.4%200%20449.4%200%20432V80C0%2062.64%209.377%2046.63%2024.52%2038.13C39.66%2029.64%2058.21%2029.99%2073.03%2039.04L361%20215z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  
  /* Grid styling */
  border: 0.25px solid lightblue;
  width: 25px;
  height: 25px;
}

.end {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20576%20512%22%3E%3C!--!%20Font%20Awesome%20Pro%206.0.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%20(Commercial%20License)%20Copyright%202022%20Fonticons%2C%20Inc.%20--%3E%3Cpath%20d%3D%22M509.5%20.0234c-6.145%200-12.53%201.344-18.64%204.227c-44.11%2020.86-76.81%2027.94-104.1%2027.94c-57.89%200-91.53-31.86-158.2-31.87C195%20.3203%20153.3%208.324%2096%2032.38V32c0-17.75-14.25-32-32-32S32%2014.25%2032%2032L31.96%20496c0%208.75%207.25%2016%2016%2016H80C88.75%20512%2096%20504.8%2096%20496V384c51.74-23.86%2092.71-31.82%20128.3-31.82c71.09%200%20120.6%2031.78%20191.7%2031.78c30.81%200%2065.67-5.969%20108.1-23.09C536.3%20355.9%20544%20344.4%20544%20332.1V30.74C544%2012.01%20527.8%20.0234%20509.5%20.0234zM480%20141.8c-31.99%2014.04-57.81%2020.59-80%2022.49v80.21c25.44-1.477%2051.59-6.953%2080-17.34V308.9c-22.83%207.441-43.93%2011.08-64.03%2011.08c-5.447%200-10.71-.4258-15.97-.8906V244.5c-4.436%20.2578-8.893%20.6523-13.29%20.6523c-25.82%200-47.35-4.547-66.71-10.08v66.91c-23.81-6.055-50.17-11.41-80-12.98V213.1C236.2%20213.7%20232.5%20213.3%20228.5%20213.3C208.8%20213.3%20185.1%20217.7%20160%20225.1v69.1C139.2%20299.4%20117.9%20305.8%2096%20314.4V250.7l24.77-10.39C134.8%20234.5%20147.6%20229.9%20160%20225.1V143.4C140.9%20148.5%20120.1%20155.2%2096%20165.3V101.8l24.77-10.39C134.8%2085.52%20147.6%2080.97%20160%2077.02v66.41c26.39-6.953%2049.09-10.17%2068.48-10.16c4.072%200%207.676%20.4453%2011.52%20.668V65.03C258.6%2066.6%20274.4%2071.55%20293.2%2077.83C301.7%2080.63%20310.7%2083.45%20320%2086.12v66.07c20.79%206.84%2041.45%2012.96%2066.71%2012.96c4.207%200%208.781-.4766%2013.29-.8594V95.54c25.44-1.477%2051.59-6.953%2080-17.34V141.8zM240%20133.9v80.04c18.61%201.57%2034.37%206.523%2053.23%2012.8C301.7%20229.6%20310.7%20232.4%20320%20235.1V152.2C296.1%20144.3%20271.6%20135.8%20240%20133.9z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  
  /* Grid styling */
  border: 0.25px solid lightblue;
  width: 25px;
  height: 25px;
}
